.container {

  display: grid;

  grid-template-columns: 1fr;

  grid-template-rows: auto 1fr auto;

  grid-template-areas:

    "header"

    "nav"

    "main"

    "sidebar"

    "footer";

  min-height: 100vh;

}

.header {

  grid-area: header;

  background-color: #f1f1f1;

  padding: 20px;

}

.nav {

  grid-area: nav;

  background-color: #333;

  color: #fff;

  padding: 20px;

}

.main {

  grid-area: main;

  background-color: #fff;

  padding: 20px;

  overflow: scroll;

}

.image-grid {

  display: grid;

  grid-template-columns: repeat(5, 1fr);

  grid-gap: 20px;

}

.image {

  background-color: #f1f1f1;

  padding: 20px;

}

.sidebar {

  grid-area: sidebar;

  background-color: #f1f1f1;

  padding: 20px;

}

.footer {

  grid-area: footer;

  background-color: #333;

  color: #fff;

  padding: 20px;

}
